<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="AdminUser" value="*******" />
  <add key="AdminPassWord" value="******" />
  <add key="SMTPName" value="smtp.hotmail.com" />
  <add key="SMTPPort" value="425" />
</appSettings>